<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!-- 
CREATED BY	: 
CREATED ON	: 
PURPOSE		: QUARTELY REPORT
TESTING     : ARUN R -24.1.24
 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.9.0/css/all.min.css"
		th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
		th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">



	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
		th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
	<script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

	<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
		th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

	<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
		th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>


	<script th:inline="javascript">
		/*<![CDATA[*/

		var subreportid = /*[[${subreportid}]]*/null;

		var secid = /*[[${secid}]]*/null;

		var permission = /*[[${session.PERMISSIONS}]]*/null;

		var dtltype = /*[[${dtltype}]]*/null;

		$(function () {

			//to make the summary button active on load
			$("#summarybtn").addClass("active");

		});

		//When report type change: set subreportid and secid and show summary.
		function changeReptype() {

			subreportid = $("#reporttype").find(':selected').val();

			secid = "1";

			showsummary();

		};

		/*to show details page - 3 parameters
			mode - valid values are : nextpage, prevpage, givenpage, firstpage
			num - page number to show to the user
			maxpage - maximum number of pages avaialble in the data
		 */
		function showdetails(mode, num, maxpage) {
			var filter = $("#filters").val();
			var n = parseInt(num);
			var max = parseInt(maxpage);
			if (filter != null) {
				var Callurl = /*[[@{'/Reports/'+${reportid}+'/Details'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
					//Callurl = Callurl+"&instancecode="+instancecode;
					Callurl = Callurl + "&filter=" + filter;
			} else {

				var filter = null;

				var Callurl = /*[[@{'/Reports/'+${reportid}+'/Details'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
					//	Callurl = Callurl+"&instancecode="+instancecode;
					Callurl = Callurl + "&filter=" + filter;
			}
			switch (mode) {
				case "nextpage":
					n = n + 1;
					if (n > max) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
					break;
				case "prevpage":
					n = n - 1;
					if (n < 0) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
					break;
				case "givenpage":
					n = parseInt($("#pageno").val()) - 1;
					if (n > max || n < 0) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
			}

			$.ajax({
				type: 'get',
				url: Callurl,
				success: function (data) {

					/*<![CDATA[*/

					$('.content').html(data);
					$("#detailsbtn").addClass("active");
					/*]]>*/

				}
			})
		}

		//to fetch summary from the database - called from the summary button
		function showsummary(mode, num, maxpage) {

			var n = parseInt(num);
			var max = parseInt(maxpage);
			var Callurl = /*[[@{'/Reports/'+${reportid}+'/Summary'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
				Callurl = Callurl + "&subreportid=" + subreportid + "&secid=" + secid;
			switch (mode) {
				case "nextpage":
					n = n + 1;
					if (n > max) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
					break;
				case "prevpage":
					n = n - 1;
					if (n < 0) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
					break;
				case "givenpage":
					n = parseInt($("#pageno").val()) - 1;
					if (n > max || n < 0) {
						break;
					}
					Callurl = Callurl + "&page=" + n;
			}

			$.ajax({
				type: 'get',
				url: Callurl,
				success: function (data) {

					/*<![CDATA[*/

					$('.content').html(data);
					$("#summarybtn").addClass("active");

					/*]]>*/
				}
			})
		}

		function sectionChange(a) {

			secid = a;

			showsummary();

		};

		function home() {
			location.href = "/BRBS/quarterly1";

		}
		function back() {
			window.history.back();
		}
		function back1() {
			var Callurl = /*[[@{'/Reports/'+${reportid}+'/Summary'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/

				$.ajax({
					type: 'get',
					url: Callurl,
					success: function (data) {

						/*<![CDATA[*/

						$('.content').html(data);
						$("#summarybtn").addClass("active");

						/*]]>*/
					}
				})
		}

		/*]]>*/
	</script>

	<style>
		.nav-buttons {
			float: right;
		}

		.reptitle {
			float: left;
		}

		.reptitle>p {
			margin-top: 0px;
		}

		.customcol {
			padding-left: 0px;
			padding-right: 0px;
			min-width: 1500px;
		}

		.btn-primary {
			background-color: #E77400;
			border-color: #0c0c0c;
		}

		.btn-primary:not(:disabled):not(.disabled).active,
		.btn-primary:not(:disabled):not(.disabled):active,
		.show>.btn-primary.dropdown-toggle {
			color: #fff;
			background-color: #cc000000;
			border-color: #161617;
		}

		.table .thead-light th {
			border-color: #b3b6b9;
		}

		.error {
			color: red;
			padding-left: 10px;
		}

		.first_left {
			position: absolute;
			*position: relative;
			/*ie7*/
			left: 0;
			width: 30px;
			margin-top: -2px;
		}

		.second_left {
			position: absolute;
			*position: relative;
			/*ie7*/
			left: 30px;
			width: 30px;
			margin-top: -2px;
		}

		.third_left {
			position: absolute;
			*position: relative;
			/*ie7*/
			left: 60px;
			width: 150px;
			margin-top: -2px;
		}

		.inner {
			overflow-x: scroll;
			overflow-y: visible;
			/* margin-left: 60px; */
		}

		.table-bordered thead td,
		.table-bordered thead th {
			border-bottom-width: 0px;
		}

		.table-bordered {
			border: 0px;
		}

		.addedit {
			color: #007bff;
		}

		.addedit:hover {
			color: #0056b3;
		}
	</style>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var currlist = /*[[${currlist}]]*/null;
		function editsum(a) {

			if (permission == 'W' && dtltype == 'report') {
				//Assign action url for the edit/add form
				var url = /*[[@{'/Reports/'+${reportid}+'/Changes/fim0800add'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency})}]]*/
					$("#dataedit").attr('action', url);
				//Reset form if any data present
				document.getElementById("dataedit").reset();

				/* //make readonly false to unique fields
				//Make readonly fields
				$("#cntprty_code").attr("readonly",false);
				$("#report_date").attr("readonly",false); */

				//Reset errors
				var validator = $("#dataedit").validate();
				validator.resetForm();

				$("#addedit").modal("toggle");

			}
		};

		function editsubmitform() {

			var reportdate = $("#report_date").val();
			//	alert(reportdate);

			if ($("#dataedit").valid()) {

				var url = "./T1Edit?";

				$("#dataedit").attr('action', url);

				var options = {
					success: showResponse
					// post-submit callback 
				};

				$("#dataedit").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {

					$("#alertmsg").text(responseText);

					$('#alert').modal("toggle");

				}
				;
			}
		};
		function verifyscreen(a) {

			if (permission == 'W' && dtltype == 'report') {
				//Assign action url for the edit/add form
				var url = /*[[@{'/Reports/'+${reportid}+'/Changes/fim0800add'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency})}]]*/
					$("#dataedit").attr('action', url);
				//Reset form if any data present
				document.getElementById("dataedit").reset();

				/* //make readonly false to unique fields
				//Make readonly fields
				$("#cntprty_code").attr("readonly",false);
				$("#report_date").attr("readonly",false); */

				//Reset errors
				var validator = $("#dataedit").validate();
				validator.resetForm();

				$("#verify").modal("toggle");

			}
		};
		function verifysubmitform(a) {

			if ($("#dataverify").valid()) {
				var entry = $("#ENTRY_USER").val();
				var modify = $("#MODIFY_USER").val();
				var verify = $("#VERIFY_USER").val();

				//var formmode = a.getAttribute("data-formmode");
				var url = "./T1Verify?";

				$("#dataverify").attr('action', url);

				var options = {
					success: showResponse
					// post-submit callback 
				};

				$("#dataverify").ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {

					$("#alertmsg").text(responseText);

					$('#alert').modal("toggle");

				}
				;
			} else {
				$("#alertmsg").text("Same User Cannot Verify!");
				$('#alert').modal("toggle");

			}

		};
		function refreshPage() {
			window.location.reload();
		}

		function resident(a) {

			var filter = a.id;
			var cellValue = a.textContent || a.innerText;
			if (cellValue != '0') {
				//alert("rwo"+cellValue)
				alert(filter);
				var Callurl = /*[[@{'/Reports/'+${reportid}+'/Details'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
					Callurl = Callurl + "&filter=" + filter;
				$.ajax({
					type: 'get',
					url: Callurl,
					success: function (data) {

						/*<![CDATA[*/
						$('.content').html(data);
						$("#detailsbtn").addClass("active");
						/*]]>*/
					}
				})
			} else {
				alert("No Records available for this selected Criteria")
			}

		}
	</script>

	<script type="text/javascript">
		function editRecord(a) {

			if (permission == 'W') {

				var url2 = "./customeredit?";
				$("#dataedit").attr('action', url2);
				//Assign selected values to the model box fields
				$("#cust_id").val(a.getAttribute("data-cust_id"));
				$("#foracid").val(a.getAttribute("data-foracid"));
				$("#acct_name").val(a.getAttribute("data-acct_name"));
				$("#act_balance_amt_lc").val(
					a.getAttribute("data-act_balance_amt_lc"));
				$("#report_name_1").val(a.getAttribute("data-report_name_1"));
				$("#report_label_1").val(a.getAttribute("data-report_label_1"));
				$("#report_addl_criteria_1").val(
					a.getAttribute("data-report_addl_criteria_1"));
				$("#report_date").val(a.getAttribute("data-report_date"));

				$("#addedit").modal("toggle");

			}

		};

		function submitdataformedit() {
			var foracid = document.getElementById('foracid').value;
			var report_label_1 = document.getElementById('report_label_1').value;
			var act_balance_amt_lc = document.getElementById('act_balance_amt_lc').value;
			var report_name_1 = document.getElementById('report_name_1').value;
			var report_addl_criteria_1 = document
				.getElementById('report_addl_criteria_1').value;

			$.ajax({
				url: './CustomerDetailEditBrf85',
				type: 'POST',
				data: {
					foracid: foracid,
					report_label_1: report_label_1,
					act_balance_amt_lc: act_balance_amt_lc,
					report_name_1: report_name_1,
					report_addl_criteria_1: report_addl_criteria_1
				},
				success: function (data) {
					// Handle the response data as needed
					alert(data);

					// Reload the page
					location.reload();
				},
				error: function (error) {
					// Handle any errors that occur during the AJAX request
					console.error("Error: " + JSON.stringify(error));
				}
			});
		}
	</script>
	<script>
		function downloadFile(filetype) {
			// Show the download processing modal
			$('#downloadProcessingModal').modal('show');

			// Simulate a delay (3 seconds in this case) to mimic a download process
			setTimeout(function () {

				// Display a centered custom alert
				$('#customAlertBody').text('Downloaded BRF-85 ' + filetype);
				$('#customAlertModal').modal('show');

				// Hide the download processing modal
				$('#downloadProcessingModal').modal('hide');
			}, 25000);
		}
	</script>
	<script>
		function downloadexcel(button) {
			var reportid = button.getAttribute('data-reportid');
			var asondate = button.getAttribute('data-asondate');
			var fromdate = button.getAttribute('data-fromdate');
			var todate = button.getAttribute('data-todate');
			var currency = button.getAttribute('data-currency');
			var subreportid = button.getAttribute('data-subreportid');
			var secid = button.getAttribute('data-secid');
			var dtltype = button.getAttribute('data-dtltype');
			var filetype = button.getAttribute('data-filetype');

			console.log(filetype);

			$('#downloadProcessingModal').modal('show');

			$.ajax({
				url: './' + reportid + '/Download',
				data: {
					asondate: asondate,
					fromdate: fromdate,
					todate: todate,
					currency: currency,
					subreportid: subreportid,
					secid: secid,
					dtltype: dtltype,
					filetype: filetype
				},
				type: 'POST',
				xhrFields: {
					responseType: 'blob'
				},
				success: function (data) {
					$('#downloadProcessingModal').modal('hide');
					var blob = new Blob([data], {
						type: 'application/octet-stream'
					});
					var url = window.URL.createObjectURL(blob);
					var a = document.createElement('a');
					a.href = url;
					if (filetype == "excel" || filetype == "detailexcel") {
						a.download = '011-BRF-085-A' + ".xlsx"; // assuming .xlsx extension for Excel files
					} else if (filetype == "BRF") {
						a.download = '011-BRF-085-A' + ".xls"; // assuming .pdf extension for PDF files
					} else {
						a.download = '011-BRF-085-A' + ".pdf";
					}

					document.body.appendChild(a);
					a.click();
					window.URL.revokeObjectURL(url);
					// Set the appropriate message based on the downloaded filetype
					if (filetype == "excel") {
						$('#customAlertBody').text('Downloaded BRF-85 ' + ".xlsx");
					} else if (filetype == "detailexcel") {
						$('#customAlertBody').text(
							'Downloaded BRF-85 Detail Excel' + ".xlsx");
					} else if (filetype == "BRF") {
						$('#customAlertBody').text('Downloaded BRF 85 ' + ".xls"); // assuming .pdf extension for PDF files
					} else {
						$('#customAlertBody').text('Downloaded BRF-85 ' + ".pdf");
					}
					$('#customAlertModal').modal('show');
				}
			});
		}
	</script>
	<style>
		.dropdown-menu li a:hover {
			background-color: orange;
			/* Orange color for hover */
			color: white;
			/* White text for better contrast */
		}
	</style>
	<script>
		function showAlertMessage() {
			alert("Details page not available for Nil Report");
		}
	</script>
	<title>XBRL</title>
</head>

<body>
	<!----------------------------------------------------- Header Section starts ----------------------------------------------------->
	<div th:insert="XBRLHeaderMenu :: header"></div>

	<!----------------------------------------------------- Header Section Ends ------------------------------------------------------->
	<div class="container content" th:fragment="reportcontent">
		<!--------------------------------------------------------------- Report title starts -------------------------------------------->
		<div class="row">
			<div class="col-sm-12 customcol"
				style="background-color: #4d8cb9; padding-top: 10px; padding-bottom: 10px; padding-left: 5px;">

				<b style="color: white;"> BRF 85 - BANKING AND MONETARY
					STATISTICS- LARGE EXPOSURES WITHIN A BANKING GROUP</b>
				<th><b style="color: white; margin-left: 1%;">Report Date -
						<span th:text="${todate}"></span>
					</b></th>
				<!--  -->

				<div class="btn-group nav-buttons">
					<button type="button" class="btn btn-primary" onclick="showAlertMessage();"
						id="detailsbtn">Details</button>
					<button type="button" class="btn btn-primary" onclick="showsummary();"
						id="summarybtn">Summary</button>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							Download <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<!-- <li th:if="${displaymode}=='summary' or ${displaymode}==null">
								<a class="text-primary" th:attr="data-reportid=${reportid}, 
							            data-asondate=${asondate}, 
							            data-fromdate=${fromdate}, 
							            data-todate=${todate}, 
							            data-currency=${currency}, 
							            data-subreportid=${subreportid}, 
							            data-secid=${secid}, 
							            data-dtltype=${dtltype}, 
							            data-filetype='pdf'" onclick="downloadexcel(this)">Pdf</a>
							</li>
							<li th:if="${displaymode} == 'summary' or ${displaymode} == null">
								<a class="text-primary" th:attr="data-reportid=${reportid}, 
							            data-asondate=${asondate}, 
							            data-fromdate=${fromdate}, 
							            data-todate=${todate}, 
							            data-currency=${currency}, 
							            data-subreportid=${subreportid}, 
							            data-secid=${secid}, 
							            data-dtltype=${dtltype}, 
							            data-filetype='excel'" onclick="downloadexcel(this)">Excel</a>
							</li> -->
							<li th:if="${displaymode} == 'summary' or ${displaymode} == null">
								<a class="text-primary" th:attr="data-reportid=${reportid}, 
							            data-asondate=${asondate}, 
							            data-fromdate=${fromdate}, 
							            data-todate=${todate}, 
							            data-currency=${currency}, 
							            data-subreportid=${subreportid}, 
							            data-secid=${secid}, 
							            data-dtltype=${dtltype}, 
							            data-filetype='BRF'" onclick="downloadexcel(this)">BRF FINAL</a>
							</li>
							<li th:if="${displaymode}=='detail'"><a th:attr="data-reportid=${reportid}, 
							            data-asondate=${asondate}, 
							            data-fromdate=${fromdate}, 
							            data-todate=${todate}, 
							            data-currency=${currency}, 
							            data-subreportid=${subreportid}, 
							            data-secid=${secid}, 
							            data-dtltype=${dtltype}, 
							            data-filetype='detailexcel'" onclick="downloadexcel(this)">Excel</a></li>
						</ul>
					</div>

					<!-- Download Message -->
					<span id="downloadMessage"></span>

					<!-- Download Processing Modal -->
					<div class="modal fade" id="downloadProcessingModal" tabindex="-1" role="dialog"
						aria-labelledby="downloadProcessingModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered d-flex align-items-center" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="downloadProcessingModalLabel">Download
										Processing...</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Download Message -->
					<div class="modal fade" id="customAlertModal" tabindex="-1" role="dialog"
						aria-labelledby="customAlertModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="customAlertModalLabel">Successfully</h5>
								</div>
								<div class="modal-body" id="customAlertBody"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Download End -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 customcol"
				style="background-color: #dadddf; padding-top: 10px; padding-bottom: 10px; padding-left: 5px;">


				<div class="btn-group nav-buttons" th:if="${type} =='RBS'">
					<button type="button" class="btn btn-primary" onclick="editsum(this);"
						style="margin-top: -10px; padding: 3px;" title="Click to EDIT Records"
						th:classappend="${session.PERMISSIONS == 'W'} AND ${dtltype == 'report'} ? addedit "
						id="addRecord">Modify</button>
					<button type="button" class="btn btn-primary"
						style="margin-right: 0px; margin-top: -10px; padding: 3px; background-color: #4d8cb9;"
						title="view the records" id="addRecord">Inquiry</button>
					<button type="button" class="btn btn-primary"
						th:if="${report?.entity_flg}=='N' AND  ${type} !='ARCHIVAL'" onclick="verifyscreen(this);"
						style="margin-top: -10px; padding: 3px;" title="Click to EDIT Records"
						th:classappend="${session.PERMISSIONS == 'W'} AND ${dtltype == 'report'} ? addedit "
						id="addRecord">Verify</button>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------- Report title ends ------------------------------------------------->

		<!------------------------------ Report summary section starts it will shown only if summary button clicked------------------------->
		<div class="row">
			<div class="col-sm-12 customcol" th:if="${displaymode}=='summary' or ${displaymode}==null">
				<div class="row">

					<div class="col-sm-12">

						<div class="table-responsive" style="border-right: 1px solid #dee2e6">
							<table style="width: 2000px"
								class="table  table-bordered table-hover table-sm table-condensed">
								<thead th:each="report: ${reportsummary}">
									<tr>
										<th style="width: 8.11px; height: 14.4px; background-color: #b3b6b9;"></th>
										<th style="width: 8.11px; height: 14.4px; background-color: #b3b6b9;">Tier
											1 Capital (as per CAR return):</th>
										<th style="width: 8.11px; height: 14.4px; text-align: right;"
											onclick="resident(this)" id="ROW101"
											th:text="${#numbers.formatDecimal(report.capital_case, 0, 'COMMA', 0, 'POINT')}">
										</th>
										<th colspan="17" style="background-color: #b3b6b9"></th>
									</tr>
									<tr>
										<th style="width: 8.11px; height: 14.4px; background-color: #b3b6b9;"></th>
										<th style="width: 8.11px; height: 14.4px; background-color: #b3b6b9;">Aggregate
											Limit</th>
										<th style="width: 8.11px; height: 14.4px; text-align: right;"
											th:text="${#numbers.formatPercent(report.aggregate_limit,1,0)}"></th>
										<th colspan="17" style="background-color: #b3b6b9"></th>
									</tr>

									<tr style="text-align: CENTER;">
										<th style="width: 8.11px; height: 91.8px; background-color: #b3b6b9;"></th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											Name
											of Entity/ Group</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											CIN
											/FIGI / GLEI ID</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											%
											share in capital</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											Borrower
											Type Specify as "S" for Single or "G" for Group</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Currency</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Funded
											O/S (Excl. Debt Securities and equities)</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											Debt
											securities</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Equities</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											Unfunded
											O/S</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											CCF
											equivalent of unfunded O/s</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											CCF
											equivalent of committed unused funded and unfunded limits</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											Total
											exposures (CCF based) net of credit risk mitigation after
											haircut</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: #b3b6b9; text-align: center;">
											As
											% of Tier 1 Capital(10% Limit</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Credit
											Risk Mitigation Type</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Credit
											Risk Mitigation after hair cut</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Collateral
											Value after hair cut</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											CBUAE
											Classification</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Provision</th>
										<th
											style="width: 8.11px; height: 91.8px; background-color: yellow; text-align: center;">
											Remarks
											/Additional Information</th>
									</tr>

								</thead>
								<tbody th:each="report: ${reportsummary}">
									<tr>
										<td style="text-align: right">1</td>
										<td style="text-align: left" th:text="${report.r1_name_group}"></td>
										<td style="text-align: left" th:text="${report.r1_cin_figi}"></td>
										<td style="text-align: left" th:text="${report.r1_share_capital}"></td>
										<td style="text-align: left" th:text="${report.r1_borrower_type}"></td>
										<td style="text-align: left" th:text="${report.r1_currency}"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_fund_os,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_debt_securities,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_equities,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_unfund_os,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_unfund_ccf,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_unused_unfund_ccf,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right; background-color: #b3b6b9;"
											th:text="${#numbers.formatDecimal(report.r1_total_exposure_ccf,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right; background-color: #b3b6b9;"
											th:text="${#numbers.formatPercent(report.r1_tier1_capital,1,2)}"></td>
										<td style="text-align: left" th:text="${report.r1_risk_type}"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_risk_haircut,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_collateral,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: left" th:text="${report.r1_cbuae}"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r1_provision,0,'COMMA',0,'POINT')}"
											onclick="resident(this)" id="ROW101"></td>
										<td style="text-align: left" th:text="${report.r1_remarks}"></td>
									</tr>
									<tr style="background-color: #b3b6b9;">
										<td></td>
										<td style="text-align: left" th:text="${report.r2_name_group}"></td>
										<td style="text-align: left" th:text="${report.r2_cin_figi}"></td>
										<td style="text-align: left" th:text="${report.r2_share_capital}"></td>
										<td style="text-align: left" th:text="${report.r2_borrower_type}"></td>
										<td style="text-align: left" th:text="${report.r2_currency}"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_fund_os,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_debt_securities,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_equities,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_unfund_os,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_unfund_ccf,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_unused_unfund_ccf,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_total_exposure_ccf,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatPercent(report.r2_tier2_capital,1,2)}"></td>
										<td style="text-align: left" th:text="${report.r2_risk_type}"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_risk_haircut,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_collateral,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: left" th:text="${report.r2_cbuae}"></td>
										<td style="text-align: right;"
											th:text="${#numbers.formatDecimal(report.r2_provision,0,'COMMA',0,'POINT')}">
										</td>
										<td style="text-align: left" th:text="${report.r2_remarks}"></td>
									</tr>

									<tr>
										<td></td>
										<td colspan="19">Note: 1. Report exposures to entities
											forming part of a banking group.</td>
									</tr>
									<tr>
										<td></td>
										<td colspan="19">2. If an entity falling within the group
											has subsidiaries, total for the entity should be given. For
											example, if a bank has real estate subsidiary. If such
											company has several subsidiaries where exposure is incurred,
											total exposure to entity should be given.</td>
									</tr>
									<tr>
										<td></td>
										<td colspan="19">FORM NO: BSD/85 - LE WITHIN BANKING
											GROUP / NOV23</td>
									</tr>
								</tbody>

							</table>
						</div>
						<div class="card-footer text-center" th:if="${displaymode}=='summary' or ${displaymode}==null"
							style="background-color: #386276" ;>
							<button type="button" class="btn btn-xs btn-primary" id="btnHome"
								onclick="home();">Home</button>
							<button type="button" class="btn btn-xs btn-primary" id="btnBack"
								onclick="window.history.back();">Back</button>
						</div>
					</div>
				</div>

			</div>
			<!------------------------------ Report summary section ends it will shown only if summary button clicked------------------------->
			<!------------------------------ Report Details section starts it will shown only if Details button clicked------------------------->
			<div class="col-sm-12 customcol" th:if="${displaymode}=='detail'" th:fragment="detail">
				<div style="overflow-x: inherit; border-right: 1px solid #dee2e6"
					th:class="${searchmsg == null}?'inner'">
					<table th:if="${searchmsg} == null" class="table table-bordered table-sm" style="width: 1498px"
						id="detailtb">
						<thead class="thead-light">
							<tr style="text-align: center">
								<th></th>

								<th>CUST ID</th>
								<th>ACCT NO</th>
								<th>ACCT NAME</th>
								<th>ACT BALANCE AMT LC</th>
								<!-- <th>IND</th> -->
								<th>REPORT NAME 1</th>
								<th>REPORT LABEL 1</th>
								<th>REPORT ADDL CRITERIA 1</th>
								<th>REPORT DATE</th>

							</tr>

						</thead>
						<tbody th:each="report,iterator : ${reportdetails}">


							<tr style="text-align: center; font-weight: bold;">
								<!-- <td style="text-align: right;" th:text="${iterator.index + 1}"></td> -->
								<td><a data-toggle="tooltip" class="editrec" title="Click to Edit this Record"><i
											th:classappend="${session.PERMISSIONS == 'W'}  ? addedit "
											class="fas fa-edit" th:attr="
										data-cust_id=${report.cust_id},
										data-foracid=${report.foracid},
								        data-acct_name=${report.acct_name},																			
										data-act_balance_amt_lc=${report.act_balance_amt_lc},						
										data-report_name_1=${report.report_name_1},
										data-report_label_1=${report.report_label_1},
										data-report_addl_criteria_1=${report.report_addl_criteria_1},
										data-report_date=${#dates.format(report.report_date, 'dd-MM-yyyy')}" onclick="editRecord(this)"></i></a></td>

								<td th:text="${report.cust_id}"></td>
								<td th:text="${report.foracid}"></td>
								<td th:text="${report.acct_name}">CHENNAI</td>
								<td style="text-align: right;"
									th:text="${#numbers.formatDecimal(#strings.replace(#strings.replace(report.act_balance_amt_lc, '+', ''), '-', ''), 1, 'COMMA', 3, 'POINT')}">
									CHENNAI</td>
								<!-- 	<td th:text="${report.remarks}"></td> -->
								<td th:text="${report.report_name_1}"></td>
								<td th:text="${report.report_label_1}">CHENNAI</td>
								<td th:text="${report.report_addl_criteria_1}"></td>
								<td th:text="${#dates.format(report.report_date, 'dd-MM-yyyy')}"></td>



							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer text-center" style="background-color: #386276" ;>
					<button type="button" class="btn btn-xs btn-primary" id="btnHome" onclick="home();">Home</button>
					<button type="button" class="btn btn-xs btn-primary" id="btnBack" onclick="back1();">Back</button>
				</div>
				<!-- -----------------------------------Details edit modal form----------------------------------------------------->
				<div class="modal fade" id="addedit" th:fragment="dataedit">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Add/Edit Records</h4>
								<button type="button" class="close" data-dismiss="modal">×</button>
							</div>
							<div class="modal-body" style="text-align: center">
								<form id="dataedit" method="post">
									<div class="form-group">

										<div class="row">
											<label class="col-sm-5">CUST ID</label> <input class="form-control col-sm-5"
												id="cust_id" readonly />
										</div>
										<div class="row">
											<label class="col-sm-5">Acct No</label> <input class="form-control col-sm-5"
												id="foracid" readonly />
										</div>
										<div class="row">
											<label class="col-sm-5">Acct Name</label> <input
												class="form-control col-sm-5" id="acct_name" readonly />
										</div>
										<div class="row">
											<label class="col-sm-5">ACCR BALANCE LC</label> <input
												class="form-control col-sm-5" id="act_balance_amt_lc" />
										</div>
										<!-- <div class="row">
											<label class="col-sm-5">IND</label> <input
												class="form-control col-sm-5" id="remarks"  />
										</div> -->


										<div class="row">
											<label class="col-sm-5">REPORT NAME_1</label> <input
												class="form-control col-sm-5" id=report_name_1 name="report_name_1" />
										</div>
										<div class="row">
											<label class="col-sm-5">REPORT LABEL 1</label> <input
												class="form-control col-sm-5" id="report_label_1" />
										</div>
										<div class="row">
											<label class="col-sm-5">REPORT ADDL CRITERIA 1</label> <input
												class="form-control col-sm-5" id="report_addl_criteria_1" />
										</div>

										<div class="row">
											<label class="col-sm-5">REPORT DATE</label> <input
												class="form-control col-sm-5" id="report_date" readonly />
										</div>
									</div>
								</form>
								<div class="modal-footer">

									<button type="button" class="btn btn-primary" onclick="submitdataformedit(this);"
										id="edit">Submit</button>

								</div>
							</div>
						</div>
					</div>


					<!-------------------------------------Details edit modal form----------------------------------------------------->
					<div class="modal fade" id="datadelete">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-body" style="text-align: center">
									<button type="button" class="close" data-dismiss="modal">×</button>
									Are you Sure want to delete?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										onclick="submitdataformdelete(this);">Submit</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- -----------------------------------Search modal form----------------------------------------------------->
				<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
				<!-- <div class="float-right" th:if="${reportdetails.totalPages} gt 1">
					<a href="#"><i class="fas fa-caret-left fa-2x"
						th:onclick="|showdetails('prevpage',${reportdetails.number},${reportdetails.totalPages});|"></i></a>
					<input type="text" id="pageno" style="width: 30px"
						th:value="${reportdetails.number+1}"
						th:onchange="|showdetails('givenpage',${reportdetails.number},${reportdetails.totalPages});|"></input>
					of <font th:text="${reportdetails.totalPages}"></font> <a href="#"><i
						class="fas fa-caret-right fa-2x"
						th:onclick="|showdetails('nextpage',${reportdetails.number},${reportdetails.totalPages});|"></i></a>
				</div> -->
				<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
			</div>
			<!------------------------------ Report Details section ends it will shown only if Details button clicked------------------------->
		</div>
	</div>

	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
	<div class="modal fade" id="alert">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<p id="alertmsg"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="refreshPage()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
</body>


</html>