<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.9.0/css/all.min.css"
		th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
		th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">


	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
		th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
	<script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
		th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
	<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
		th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>



	<style>
		.row1 {
			padding: 7px;
		}

		.error {
			color: red;
			padding-left: 10px;
		}

		.underline {
			text-decoration: underline;
			color: #08a6f1;
			cursor: pointer;
		}
		.btn-primary {
	background-color: #E77400;
	border-color: #0c0c0c;
}

.btn-primary:not (:disabled ):not (.disabled ).active, .btn-primary:not
	 (:disabled ):not (.disabled ):active, .show>.btn-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #cc000000;
	border-color: #161617;
}
	</style>
	<script th:inline="javascript">
	
	function home() {
		location.href = 'Dashboard'
	}
	function Back() {
		window.history.back();
		}
	
		/*<![CDATA[*/
		var reportlist = /*[[${reportlist}]]*/null;

		var frequency;

		$(function () {

			$("#reportTimediv").hide();

			$.validator.addMethod("valueNotEquals", function (value, element, arg) {
				return arg !== value;
			}, "Please Select");

			$("#reportform").validate({
				rules: {
					reportid: {valueNotEquals: "Select"},
					function: {valueNotEquals: "Select"},
					reportingTime: {valueNotEquals: "Select"}
				},
				messages: {
					reportid: {valueNotEquals: "Please Select a Report Id"},
					function: {valueNotEquals: "Please Select a function"},
					reportingTime: {valueNotEquals: "Please Select Reporting Time"},
					asondate: "Please Select Report Date",
					//fromdate : "Plese Select From Date",
					todate: "Plesae Select To Date",
					currency: "Plesae Select Reporting currency"
				},
				submitHandler: function (form) {
					var fun = $('#function :selected').val();
					var selectedIndex = $("#reportlist option:selected").index();
					var report = reportlist[selectedIndex - 1];

					if (fun == "view") {

						$("#reportform").attr('action', "Reports/" + report.reportid + "?dtltype=report");
						var reportid = $('#reportlist :selected').text();
						var asondate = $('#asonDate').val();

						var todate = $('#dt2').val();
						var reportingTime = $('#reportingTime :selected').text();

						var Callurl;

						if (reportid == "FIM0500") {

							Callurl = './Reports/' + reportid + '/Precheck?asondate='
								+ asondate + '&todate=' + todate + '&reportingTime=' + reportingTime;

						} else {

							Callurl = './Reports/' + reportid + '/Precheck?asondate='
								+ asondate + '&todate=' + todate;
						};

						$.ajax({
							type: 'get',
							url: Callurl,
							success: function (data) {

								if (data == 'success') {
									form.submit();
								} else {
									$("#alertmsg").text(data);
									$("#alert").modal("toggle");
								}

							}
						});
					} else if (fun == "nil") {

						var reportid = $('#reportlist :selected').text();
						var asondate = $('#asonDate').val();

						var todate = $('#dt2').val();
						var reportingTime = $('#reportingTime :selected').text();

						Callurl = './Reports/' + reportid + '/nilReport?asondate='
							+ asondate + '&todate=' + todate + '&reportingTime=' + reportingTime;


						$.ajax({
							type: 'get',
							url: Callurl,
							success: function (data) {

								$("#alertmsg").text(data);
								$("#alert").modal("toggle");

							}
						});

					}

					else {
						$("#reportform").attr('action',
							"Reports/" + report.reportid + "/verify");
						var reportid = $('#reportlist :selected').text();
						var asondate = $('#asonDate').val();

						var todate = $('#dt2').val();
						var reportingTime = $('#reportingTime :selected').text();

						var Callurl;

						if (reportid == "FIM0500") {

							Callurl = './Reports/' + reportid + '/Precheck?asondate='
								+ asondate + '&todate=' + todate + '&reportingTime=' + reportingTime;

						} else {

							Callurl = './Reports/' + reportid + '/Precheck?asondate='
								+ asondate + + '&todate=' + todate;
						};

						$.ajax({
							type: 'get',
							url: Callurl,
							success: function (data) {

								if (data != 'Records Pending for Verification For the Report') {
									$("#alertmsg").text("No data Available for Verification");
									$("#alert").modal("toggle");

								} else {

									form.submit();

								}

							}
						});



					}
				}
			});

			$("#asonDate").datepicker(
				{
					changeMonth: true,
					changeYear: true,
					dateFormat: "dd-mm-yy",
					maxDate: new Date(),
					onClose: function () {
						var asondate = $(this).datepicker('getDate');

						if (asondate) {

							if (frequency == "Monthly") {

								asondate = new Date(asondate.getFullYear(), asondate.getMonth() + 1, 0);
								$(this).datepicker("setDate", asondate);
								$('#dt2').datepicker("setDate", asondate);
								asondate.setDate(1);
								$('#dt1').datepicker("setDate", asondate);

							} else if (frequency == "Daily") {

								$("#dt2").datepicker("setDate", asondate);
								$('#dt1').datepicker("setDate", asondate);

							} else if (frequency == "Fortnightly") {

								$("#dt2").datepicker('setDate', asondate);
								asondate.setDate(asondate.getDate() - 13);
								$('#dt1').datepicker("setDate", asondate);

							} else if (frequency == "Half Yearly") {

								asondate.setMonth((Math.trunc(asondate.getMonth() / 6) * 6) + 5);
								asondate = new Date(asondate.getFullYear(), asondate.getMonth() + 1, 0);
								$(this).datepicker('setDate', asondate);
								$("#dt2").datepicker('setDate', asondate);

								asondate.setDate(1);
								asondate.setMonth(Math.trunc(asondate.getMonth() / 6) * 6);
								$("#dt1").datepicker('setDate', asondate);

							} else if (frequency == "Yearly") {

								asondate.setDate(31);
								asondate.setMonth(11);
								$('#dt2').datepicker("setDate", asondate);
								$(this).datepicker('setDate', asondate);

								asondate.setDate(1);
								asondate.setMonth(0);
								$("#dt1").datepicker("setDate", asondate);


							} else if (frequency == "Quarterly") {


								asondate.setMonth((Math.trunc(asondate.getMonth() / 3) * 3) + 2);
								asondate = new Date(asondate.getFullYear(), asondate.getMonth() + 1, 0);
								$(this).datepicker('setDate', asondate);
								$("#dt2").datepicker('setDate', asondate);

								asondate.setDate(1);
								asondate.setMonth(Math.trunc(asondate.getMonth() / 3) * 3);

								$("#dt1").datepicker('setDate', asondate);


							} else if (frequency == "Weekly") {


							};

						}
					}

				});
			$("#dt1").datepicker({
				changeMonth: true,
				changeYear: true,
				maxDate: new Date(),
				dateFormat: "dd-mm-yy"
			});
			$("#dt2").datepicker({
				changeMonth: true,
				changeYear: true,
				maxDate: new Date(),
				dateFormat: "dd-mm-yy"
			});
		});
		$(function () {
			var reportmodal = /*[[${reportmodal}]]*/null;
			if (reportmodal == 'Y') {

				$("#finusers").modal("toggle");

				$('#finusers').modal({
					backdrop: 'static',
					keyboard: 'false'
				})
			};
			$.validator.addMethod("valueNotEquals", function (value, element, arg) {
				return arg !== value;
			}, "Please Select");

			$("#reportform").validate({
				rules: {
					reportid: {valueNotEquals: "Select"}
				},
				messages: {
					reportid: {valueNotEquals: "Please Select a Report Id"}
				},
				submitHandler: function (form) {
					var selectedIndex = $("#reportlist option:selected").index();
					var report = reportlist[selectedIndex - 1];

					var Callurl;


					var reportid = report.reportid;

					$("#reportform").attr('action', 'Reports/' + reportid + '?dtltype=report' + '&todate=' + todate);

					Callurl = './Reports/' + report.reportid + '/Precheck?todate=' + todate;

					$.ajax({
						type: 'get',
						url: Callurl,
						success: function (data) {
							if (data == 'success') {
								form.submit();
							} else {
								$("#alertmsg").text(data);
								$("#alert").modal("toggle");
							}

						}
					});




				}

			})


		});
		function showReportName() {
			var fun = $('#function :selected').val();
			var selectedIndex = $("#reportlist option:selected").index();

			var report = reportlist[selectedIndex - 1];
			var reportId = report.reportid;
			frequency = report.report_frequency;

			$("#repname").text(report.report_name);
			$("#reportTimediv").hide();

			if (reportId == 'FIM0500') {

				$("#reportTimediv").show();
				$("#reportingTime").addAttr("required");
			}

		};
		function getReportrbs(a) {
			var reportid = a.getAttribute("data-rptcode");
			var repdesc = a.getAttribute("data-report_desc");

			location.href = '?reportid=' + reportid + '&repdesc=' + repdesc;


			//	$("#finusers").modal("toggle");
		}

		function getReport(a) {
			var todate = a.getAttribute("data-todate");
			var asondate = a.getAttribute("data-todate");
		//	alert("From date - " + todate);

			var reportid = a.getAttribute("data-repcode");
			//alert(reportid);
		//	alert("to date - " + todate)


			var Callurl;
			var form = $('#reportform')[0];


			$("#reportform").attr('action', 'Reports/' + reportid + '?dtltype=report&todate=' + todate + '&asondate=' + asondate);


			Callurl = './Reports/' + reportid + '/PrecheckRR?&todate=' + todate + '&asondate=' + asondate;

			$.ajax({
				type: 'get',
				url: Callurl,
				success: function (data) {
					if (data == 'success') {

						var type = 'ARCH'
						$("#reportform").attr('action', 'Reports/' + reportid + '/ArchiveRR?dtltype=report&todate=' + todate + '&type=' + type + '&asondate=' + asondate);
						//	alert("report is generated")
						form.submit();
					} else {
						$("#alertmsg").text(data);
						$("#alert").modal("toggle");
					}

				}
			});




		}

		function getReport1(a) {

			//var fromdate =a.getAttribute("data-fromdate");
			var todate = a.getAttribute("data-todate");
			var asondate = a.getAttribute("data-todate");

			var reportid = a.getAttribute("data-repcode");
			//	alert(fromdate+todate+asondate+reportid);

		}

		/*]]>*/
	</script>
	<script th:inline="javascript">
		$(document).ready(function () {
			// Properly inject the Thymeleaf variables into the JavaScript
			var year = /*[[${frequency}]]*/;
			var month = /*[[${reportDate}]]*/;

			// Uncomment these lines if you want to display the values in alerts


			// Pass the year and month to a function, if needed
			// populateTableWithDates(year, month);
		});
	</script>

</head>
<title>BCDRS</title>

<body>
	<div th:insert="XBRLHeaderMenu :: header"></div>
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal" method="post" name="CriteriaForm" id="reportform">
					<div class="card" style="width: 1433px; margin-left: -26px;">
				<div class="card-header" style="background-color: #376275;">
					<h4 style="color: white;"th:text="${menu}"></h4>
						</div>
						<div class="card-body">
							<div style="overflow-x: auto; border-right: 1px solid #dee2e6">
								<!-- <table class="table  table-bordered table-hover table-condensed table-sm"
									style="width: 1350px" id="detailtb">
									<thead class="thead-light">
										<tr>
											<th></th>
											<th style="width: 8%;">Report Code</th>
											<th style="width: 46%;">Report Name</th>
											<th style="width: 9%;">Start Date</th>
										<th style="width: 9%;">End Date</th>
											<th style="width: 10%;">Report Type</th>
											<th style="width: 8%;">Detail Flag</th>
											<th style="width: 10%;">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${COUNT} == '0'">
											<td colspan="9" style="text-align: center; color: red">No
												Data Found</td>
										</tr>
										<tr th:each="userProfile : ${reportlist}" class="userlist">
											<td class="underline" onclick="getReportrbs(this);"
												th:attr="data-rptcode=${userProfile.report_code},data-todate=${#dates.format(userProfile.report_date, 'dd/MM/yyyy')}"
												th:text="${userProfile.rpt_code}"></td>
											<td th:text="${userProfile.rpt_description}"></td>
											<td th:text="${#dates.format(userProfile.start_date, 'dd/MM/yyyy')}"></td>
											<td hidden th:text="${userProfile.report_code}"></td>
											<td th:text="${userProfile.rpt_type}"></td>
											<td th:text="${userProfile.det_flg}"></td>
											<td th:text="${userProfile.rpt_status}"></td>

										</tr>

									</tbody>
								</table> -->
							</div>
						</div>
						<div class="card-footer text-center" style="background-color: #376275;">
							<button type="submit" class="btn btn-primary">View List</button>
							<button type="button" class="btn btn-xs btn-primary" id="btnBack"
								onclick="Back();">Back</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
	<div class="modal fade" id="alert">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<p id="alertmsg"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->

	<div class="modal fade" id="finusers">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width: 800px;">
			<div class="modal-content" style="border: 2px solid black;">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" th:text="${reportid} + ' - ' + ${repdesc}"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- Modal Body -->
				<div class="modal-body" style="background-color: #e6eaed;">
					<!-- Hidden field to store report ID -->
					<input type="hidden" th:value="${reportid}" id="rep_code_id">

					<!-- Table for reportDATE -->
					<table class="table table-hover" id="finusertb"
						th:if="${reportDATE != null and !reportDATE.isEmpty()}" style="display: table;">
						<thead class="thead-light" style="background-color: #386276;">
							<tr>
								<th style="width: 50px;">Srl No</th>
								<th style="width: 100px;">Frequency</th>
								<th style="width: 100px;">Report Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="userProfile, iterator : ${reportDATE}" th:attr="data-repcode=${userProfile.report_code},data-fromdate =${#dates.format(userProfile.report_date, 'dd/MM/yyyy')},
								data-todate =${#dates.format(userProfile.report_date, 'dd/MM/yyyy')}" class="userlist"
								th:onclick="getReport(this);">
								<td th:text="${iterator.index + 1}"></td>
								<td th:text="${userProfile.frequency}"></td>
								<td th:text="${#dates.format(userProfile.report_date, 'dd/MM/yyyy')}"></td>
								<td th:text="${userProfile.report_code}" hidden></td>
							</tr>
						</tbody>
					</table>

					<!-- Table for reportDATE1 -->
					<table class="table table-hover" id="objectvalue"
						th:if="${reportDATE1 != null and !reportDATE1.isEmpty()}" style="display: table;">
						<thead class="thead-light" style="background-color: #386276;">
							<tr>
								<th style="width: 50px;">Srl No</th>
								<th style="width: 100px;">Frequency</th>
								<th style="width: 100px;">Report Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="userProfile, iterator : ${reportDATE1}" th:attr="data-repcode=${userProfile[2]}, data-fromdate=${#dates.format(userProfile[1], 'dd/MM/yyyy')},
							data-todate=${#dates.format(userProfile[1], 'dd/MM/yyyy')}" class="userlist" th:onclick="getReport(this);">
								<td th:text="${iterator.index + 1}"></td>
								<td th:text="${userProfile[0]}"></td>
								<td th:text="${#dates.format(userProfile[1], 'dd/MM/yyyy')}"></td>
								<td th:text="${userProfile[2]}" hidden></td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Modal Footer -->
				<div class="modal-footer" style="background-color: #386276; text-align: center; padding: 5px;">
					<!-- Placeholder for navigation buttons if needed in the future -->
				</div>

			</div>
		</div>
	</div>


</body>
</body>

</html>